<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>地区</span>
            <span>项目名称</span>
            <span>内部项目名称</span>
            <span>所属项目组</span>
            <span>立项情况</span>
            <span>派工单号</span>
            <span>创建人</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in openLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{lists.area}}</p>
                    <p mod>{{lists.project}}</p>
                    <p mod>{{lists.innerProject}}</p>
                    <p mod>{{lists.depart}}</p>
                    <p mod>{{lists.makeProject | pro}}</p>
                    <p mod>{{lists.dispatchNum}}</p>
                    <p mod>{{lists.name}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>创建时间</span>
                                <span>项目状态</span>
                                <span></span>
                            </p>
                            <p class="see-children">
                                <span mod>{{lists.createTime}}</span>
                                <span mod>{{lists.status | pro}}</span>
                                <span>
                                    <a href="javascript:void(0)" class="more threeMore" ng-click="moreList2(lists)">查看表</a>
                                </span>
                                <div class="can">
                                    <ul class="can-see" style="display: {{lists._moreList2?'block':'none'}};">
                                        <li ng-repeat="lists2 in lists.tables" ng-click='inClick(lists2.id)'>
                                            <p class="see-parent">
                                                <span>表名称</span>
                                                <span>表状态</span>
                                            </p>
                                            <p class="see-children">
                                                <span mod>{{lists2.name}}</span>
                                                <span mod>{{lists2.status | pro}}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>




