<div class="content-input edit" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>执行人员</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="dist.execute" class="sele">
                            <option ng-repeat="name in names" value="{{name.username}}">{{name.username}}</option>
                        </select> 
                        <input type="text" ng-model="dist.execute" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>执行人地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="dist.executeArea" class="sele">
                            <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                        </select> 
                         <input type="text" ng-model="dist.executeArea" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>执行人部门</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="dist.executeDepart" class="sele">
                            <option ng-repeat="depart in departs" value="{{depart.department}}">{{depart.department}}</option>
                        </select> 
                         <input type="text" ng-model="dist.executeDepart" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>功能模块</em></label>
                    <input type="text" ng-model="dist.moudle" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>功能级别</em></label>
                    <input type="number" ng-model="dist.gpriority" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>计划任务量</em></label>
                    <input type="number" ng-model="dist.planNum" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>任务类型</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="dist.taskType" class="sele" ng-change="times()">
                            <option value="ADMININSTRATION">行政任务</option>
                            <option value="ENGINEERING">工程任务</option>
                            <option value="TRAINING">培训任务</option>
                        </select>
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>时长类型</em></label>
                    <select ng-model="dist.timesType" class="sele" disabled>
                        <option value="ADMININSTRATIONS">行政时长</option>
                        <option value="ENGINEERINGS">工程时长</option>
                        <option value="TRAININGS">培训时长</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>任务内容</em></label>
                    <input type="text" ng-model="dist.content" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>任务状态</em></label>
                    <select ng-model="dist.taskStatus" class="sele">
                        <option value="FINISH">已完成</option>
                        <option value="DOING">正在执行</option>
                        <option value="UNFINISHED">未完成</option>
                        <option value="RECEIVE">待接收</option>
                        <option value="NOTRECEIVE">不接收</option>
                        <option value="TOBEAUDITED">上报待审核</option>
                    </select>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>任务名</em></label>
                    <input type="text" ng-model="dist.taskName" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>所需时长</em></label>
                    <input type="number" ng-model="dist.needTime1" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>所需时长时间类型</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="dist.needType" class="sele">
                            <option value="MINUTE">分钟</option>
                            <option value="HOUR">小时</option>
                            <option value="DAY">天</option>
                        </select>
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>计划执行时间</em></label>
                    <input type="text" ng-model="dist.planTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="planTime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>任务开始时间</em></label>
                    <input type="text" ng-model="dist.startTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="startTime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>任务结束时间</em></label>
                    <input type="text" ng-model="dist.endTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="endTime">
                </li>
                <li class="required">
                    <label><em>开始执行时间</em></label>
                    <input type="text" ng-model="dist.startExecute" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="startExecute">
                </li>
                <li class="required">
                    <label><em>结束执行时间</em></label>
                    <input type="text" ng-model="dist.endExecute" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="endExecute">
                </li>
                <li class="required">
                    <label><em>实际时长</em></label>
                    <input type="text" ng-model="dist.actualTime1">
                </li>
                <li class="required">
                    <label><em>实际时长时间类型</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                        <select ng-model="dist.actualType" class="sele">
                            <option value="MINUTE">分钟</option>
                            <option value="HOUR">小时</option>
                            <option value="DAY">天</option>
                        </select>
                    </div>
                </li>
                <li class="required">
                    <label><em>未完成时长</em></label>
                    <input type="text" ng-model="dist.undoneTime1">
                </li>
                <li class="required">
                    <label><em>未完成时长时间类型</em></label>
                    <select ng-model="dist.undoneType" class="sele">
                        <option value="MINUTE">分钟</option>
                        <option value="HOUR">小时</option>
                        <option value="DAY">天</option>
                    </select>
                </li>
                <li class="required">
                    <label><em>完成时间</em></label>
                    <input type="text" ng-model="dist.finishTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="finishTime">
                </li>
                <li class="required">
                    <label><em>任务备注</em></label>
                    <input type="text" ng-model="dist.remark">
                </li>
                <li class="required">
                    <label><em>注意事项</em></label>
                    <input type="text" ng-model="dist.notice">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>是否发生费用报销</em></label>
                    <select ng-model="dist.reimbursement" class="sele">
                        <option ng-value="true">是</option>
                        <option ng-value="false">否</option>
                    </select>
                </li>
                <li class="required">
                    <label><em>是否出现问题</em></label>
                    <select ng-model="dist.question" class="sele">
                        <option ng-value="true">是</option>
                        <option ng-value="false">否</option>
                    </select>
                </li>



                <li class="required">
                    <p class="dataBottom">
                        <button ng-click="add()" style="font-size:14px;">添加表</button>
                    </p>
                </li>



                <div class="question">
                    <div class="questionlist" ng-repeat="list in btos">
                        <div class="collect">
                            <div class="collect-select seconds">
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>问题审核人</em></label>
                                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                                        <select ng-model="list.audit" class="sele">
                                            <option ng-repeat="name in names" value="{{name.username}}">{{name.username}}</option>
                                        </select> 
                                        <input type="text" ng-model="list.audit" ng-verify="{}">
                                    </div>
                                </li>
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>受理人</em></label>
                                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                                        <select ng-model="list.receiver" class="sele">
                                            <option ng-repeat="name in names" value="{{name.username}}">{{name.username}}</option>
                                        </select> 
                                        <input type="text" ng-model="list.receiver" ng-verify="{}">
                                    </div>
                                </li>
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>事件</em></label>
                                    <input type="text" ng-model="list.event">
                                </li>
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>问题描述</em></label>
                                    <input type="text" ng-model="list.description">
                                </li>
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>问题类型</em></label>
                                    <input type="text" ng-model="list.type">
                                </li>
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>期望处理时间</em></label>
                                    <input type="text" ng-model="list.expectTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="expectTime">
                                </li>
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>协助部门</em></label>
                                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched projectName side">
                                        <select ng-model="list.assistDepart" class="sele">
                                            <option ng-repeat="depart in departs" value="{{depart.department}}">{{depart.department}}</option>
                                        </select> 
                                        <input type="text" ng-model="list.assistDepart" ng-verify="{}">
                                    </div>
                                </li>
                                <li class="required">
                                    <label><i><img src="/images/mandatory.png"></i><em>协助模块</em></label>
                                    <input type="text" ng-model="list.assistModule">
                                </li>
                            </div>
                        </div>
                        <button class="btn" ng-click="del($index)">×</button>
                    </div>
                </div>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="openEditFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>